{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<h4  class="card-title">Сброс пароля</h4>
{% if validlink %}
<p class="card-title">Please enter your new password twice:</p>
<div  class="card">
    <div  class="card-body">
        <form  method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button  type="submit"  class="btn btn-success">Сменить пароль </button>
        </form>
    </div>
</div>
{% else %}
<div  class="card">
    <p class="card-title">
        Ссылка для сброса пароля недействительна, возможно, потому, что она
        уже использовалась.
        <br>Запросите новый сброс пароля.</p>
{% endif %}
</div>
{% endblock %}